<div class="planetStructure">
    <img class="planet" src="/SpaceProject/img/jupiter.png"/>
    <div class="planetInfo">
        <h2>Jupiter</h2>
        <ul>
            <li><p>Diamètre moyen : 142 984 km</p></li>
            <li><p>Masse (Terre = 1) 318, soit 1 898,6.1021 t</p></li>
            <li><p>Masse volumique moyenne : 1 326 kg/m3</p> </li>
            <p><b>Composition:</b>Bien que Jupiter n'ait pas de surface solide, il est généralement supposé avoir un noyau rocheux ou métallique solide au centre, mais la taille et la composition exactes de ce noyau restent en grande partie inconnues. Il est possible que le noyau soit entouré d'une couche d'hydrogène et d'hélium métallique sous des pressions et des températures extrêmement élevées.
                Au-dessus de la couche d'hydrogène et d'hélium, Jupiter a une épaisse enveloppe de gaz qui s'étend vers l'extérieur depuis l'atmosphère supérieure.

               
                Jupiter est une planète géante gazeuse, ce qui signifie qu'elle n'a pas de surface solide et est principalement composée de gaz et d'hydrogène. Sa composition est la suivante :
                L'atmosphère de Jupiter est composée principalement d'hydrogène (environ 75%) et d'hélium (environ 24%). Il contient également de petites quantités d'autres gaz, notamment des composés d'hydrocarbures, de l'ammoniac et de la vapeur d'eau. L'atmosphère de Jupiter est épaisse et turbulente, avec des bandes nuageuses distinctes et des tempêtes massives, dont la Grande Tache Rouge est la plus célèbre.
                   

            </p>
        </ul>
       
    </div>
</div>

<style>
    .planetStructure {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
        margin: 64px;

    }

    .planetInfo {
        font-family: sans-serif;
        width: 40%;
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 30px;
        border: 2px solid #FFF;
        background: linear-gradient(293deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.00) 0%);
        padding: 32px;
        backdrop-filter: blur(5px);;
    }

    .planet {
        width: 30%;
    }

    h2 {
        font-style: normal;
        font-family: spaceProject;
        text-transform: uppercase;
    }
</style>