<div class="planetStructure">
    <img class="planet" src="../../public/img/mercure.png"/>
    <div class="planetInfo">
        <h2>Mercury</h2>
        <p>Lorem ipsum dolor sit amet nisl sagittis fusce tellus dapibus tincidunt molestie ultrices.
            Neque pellentesque molestie aliqua urna maecenas tellus mattis ultrices.
            Dictum et posuere lectus imperdiet phasellus nulla aliquam. Iaculis id phasellus ut
            aliquet pretium vestibulum quisque tempor laoreet purus mi. Hac egestas sollicitudin
            nulla tortor luctus convallis velit eu faucibus sed diam velit fringilla.</p>
    </div>
</div>

<style>
    .planetStructure {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 16px;

    }

    .planet {
        height: 50%;
        width: 50%;
    }
</style>