<div class="planetStructure">
    <img class="planet" src="../../public/img/mercure.png"/>
    <div class="planetInfo">
        <h2>Mercure</h2>
        <ul>
            <li><p>Diamètre moyen : 4 879 km</p></li>
            <li><p>Masse (Terre = 1) : 0,055 soit 3,3.1020 t</p></li>
            <li><p>Masse volumique moyenne : 5427 kg/m3</p></li>
            <p><b>Composition:</b> Mercure possède un noyau métallique solide qui représente environ 42% de son diamètre total. Ce noyau est principalement composé de fer et de nickel.
                Le manteau de Mercure est situé au-dessus du noyau et est principalement composé de silicates. Il représente environ 58% du diamètre de la planète.
                La croûte de Mercure est la couche extérieure de la planète et est composée principalement de roches silicatées. Elle est beaucoup plus fine que la croûte terrestre.
            </p>
        </ul>
        <p>

        </p>
    </div>
</div>

<style>
    .planetStructure {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
        margin: 64px;

    }

    .planetInfo {
        font-family: sans-serif;
        width: 40%;
        border-radius: 30px;
        border: 2px solid #FFF;
        background: linear-gradient(293deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.00) 0%);
        padding: 32px;
        backdrop-filter: blur(5px);;
    }

    .planet {
        width: 30%;
    }

    h2 {
        font-style: normal;
        font-family: spaceProject;
        text-transform: uppercase;
    }
</style>