<div class="container">
    <div class="solarSystem">
        <img class="soleil" src="../../public/img/soleil.png"/>
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
    </div>
    <a class="button" href="/SolarSystem"><h2>Explorer</h2></a>
    
</div>    
    
<style>

    .container, 
    .solarSystem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

      .soleil {
        width: 50%;
      }

      .circle1 {
        position: absolute;
        width: 500px;
        height: 500px;
        border: 2px solid #ffffff;
        border-radius: 50%; 
    }
      .circle2 {
        position: absolute;
        width: 750px;
        height: 750px;
        border: 2px solid #ffffff;
        border-radius: 50%; 
    }
      .circle3 {
        position: absolute;
        width: 1000px;
        height: 1000px;
        border: 2px solid #ffffff;
        border-radius: 50%; 
    }
    .circle4 {
        position: absolute;
        width: 1250px;
        height: 1250px;
        border: 2px solid #ffffff;
        border-radius: 50%; 
    }
    .button {
        position: relative;
        top: -15%;
        background-color: black;
        height: fit-content;
        padding: 0 16px 0 16px;
        color: white;
        font-size: 12px;
        border: 2px solid #ffffff;
        cursor: pointer;
        border-radius: 10px;
    }
</style>
