<div class="planetStructure">
    <img class="planet" src="/img/terre.png"/>
    <div class="planetInfo">
        <h2>Terre</h2>
        <ul>
            <li><p>Diamètre moyen : 12 756 km</p></li>
            <li><p>Masse (Terre = 1) 5,9.1021 t</p> </li>
            <li><p>Masse volumique moyenne : 5 515 kg/m3</p></li>
            <p><b>Composition:</b>Le noyau interne de la Terre est une sphère solide composée principalement de fer et de nickel. Les températures dans cette région sont extrêmement élevées en raison de la pression énorme de la Terre, et le noyau interne est essentiellement solide en raison de ces températures élevées malgré la composition métallique.
                Noyau externe : Situé juste au-dessus du noyau interne, le noyau externe est principalement liquide et est également composé de fer et de nickel. Les mouvements de convection dans le noyau externe liquide génèrent le champ magnétique terrestre.
               Le manteau terrestre est une couche épaisse de roches silicatées située au-dessus du noyau externe. Il représente la plus grande partie du volume de la Terre. Le manteau est principalement composé de silicates, notamment de minéraux riches en fer et en magnésium, et il est partiellement fondu à des profondeurs plus profondes, formant ainsi le manteau supérieur solide et le manteau inférieur partiellement fondu.
               La croûte terrestre est la couche la plus externe de la planète. Elle est composée de roches silicatées, principalement de basalte (dans la croûte océanique) et de granit (dans la croûte continentale). La croûte continentale est plus épaisse et moins dense que la croûte océanique
                
            </p>
        </ul>
       
    </div>
</div>

<style>
    .planetStructure {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
        margin: 64px;

    }

    .planetInfo {
        font-family: sans-serif;
        width: 40%;
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 30px;
        border: 2px solid #FFF;
        background: linear-gradient(293deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.00) 0%);
        padding: 32px;
        backdrop-filter: blur(5px);;
    }

    .planet {
        width: 30%;
    }

    h2 {
        font-style: normal;
        font-family: spaceProject;
        text-transform: uppercase;
    }
</style>