<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination">1
        <img src="/img/mercure.png"/>
    </div>
    <div class="swiper-pagination">1
        <img src="/img/mercure.png"/>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>

<style>
    .swiper-container {
        width: 600px;
        height: 300px;
    }
    .swiper-pagination {
        width: 20px;
        height: 20px;
        background-color: green;
        color: white;
    }
</style>

<script>
    const swiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'vertical',
        speed: 400,
        slidesPerView: 3,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>