---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</head>

	<style is:global>
  		@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500&display=swap');

		html {
			height: 100%;
			display: flex;
			align-items: center;
		}
	
		body {
			height: 100%;
			width: 100%;
			background-image: url(/SpaceProject/img/backgroundsStars.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			overflow: hidden;
			color: white;
		}

		.button {
			text-decoration: none;
		}
	
		h2 {
			font-style: normal;
			font-family: spaceProject;
			text-transform: uppercase;
		}
		p {
			font-family: 'Inconsolata', monospace;
			line-height: 2;
			
		}
		@font-face {
		font-family: spaceProject;
		src: url(/SpaceProject/font/projectSpace.otf);
		}
	
	</style>
	

	<body>
		<slot />
	</body>
</html>